.bg {
  background-image: url('https://img10.360buyimg.com/ddimg/jfs/t1/161555/6/38788/145540/64b8c9e2F027cdfab/1d9b26071ba40467.jpg');
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 45px;
  font-weight: bold;
  color: red;
  white-space: pre-line;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
}
