.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.modal-content {
  position: relative;
  font-size: 20px;
  background-color: #333;
  padding: 20px;
  padding-bottom: 56px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 4px 8px;
  font-size: 18px;
  position: absolute;
  bottom: 16px;
  right: 20px;
}
